/* Card.css */

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.3s;
  position: relative;
}

/* .card:hover {
  transform: scale(1.05);
} */

.card-details {
  background-color: #f0f0f0;
  padding: 10px;
  margin-top: 10px;
}
.cardImg {
  width: 400px;

  object-fit: contain;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* オーバーレイの背景色と透明度を調整 */
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: var(--background);
  padding: 20px;
  border-radius: 10px;
  max-width: 1000px;
  min-height: 600px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  /* ここにモーダルコンテンツのスタイルを追加してください */
}

.modal-content h2 {
  font-size: 35px;
  margin-bottom: 28px;
}
.technology {
  margin-bottom: 16px;
}
.technology-word {
  font-family: "Big Shoulders Display", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  border: 1px solid #a94b47;
  padding: 5px 8px;
  border-radius: 20px;
  margin-right: 5px;
}

.modal-content button {
  background-color: transparent;
  color: #333;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  display: block;
  margin-left: auto;
}

.modalImg {
  height: 450px;
  width: 800px;
}

.modal-bottom {
  display: flex;
  width: 100%;
  padding: 20px;
}
.description {
  width: 50%;
}
.description > h5 {
  text-align: left;
  border-bottom: 1px solid var(--accent);
  font-family: "Big Shoulders Display", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 16px;
}

.description > p {
  font-size: 16px;
  margin-bottom: 20px;
  text-align: left;
}

.link {
  width: 40%;
  display: block;
  margin: 0 auto;
}
.link > h5 {
  text-align: left;
  border-bottom: 1px solid var(--accent);
  font-family: "Big Shoulders Display", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 16px;
}
.link > a {
  color: var(--text);
  text-align: left;
  display: block;
  padding: 5px;
}
